<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RESULTS</title>

</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBS5EfsB3VYUlSt6uGqTiP1IKZnjkqpWs7Gw&usqp=CAU" style="background-repeat: no-repeat;background-size: cover;color: black;">
    <div><h2 style="text-align: center; color: black">YOUR MENTAL HEALTH STATUS IS</h2></div>
    <p style="font-size:300%;color: purple; text-align: center;font size"><i><b>---{{ depression_status }}---</b></i></p>
<br>
    <br>

    <h2 style="color: maroon; font-size: 200%">GUIDELINES</h2>
<div>
    <h4 style="font-size: 150%">*MILD DEPRESSION AND ANXIETY</h4>
    <ul>
        <li style="font-size: 130%">Learning stress-management techniques, such as deep breathing or progressive muscle relaxation, can be helpful.</li>
        <li style="font-size: 130%">Practicing gratitude and positive self-talk can help shift your focus away from negative thoughts and emotions.</li>
        <li style="font-size: 130%">Mindfulness-based interventions, such as meditation or yoga, can help improve mood and reduce symptoms of depression.</li>
        <li style="font-size: 130%">Practicing good sleep hygiene, such as going to bed and waking up at the same time each day, can help regulate mood and energy levels.</li>
        <li style="font-size: 130%">Avoiding or reducing alcohol and drug use can help prevent depression symptoms from worsening.</li>
    </ul>
</div>
<div>
    <h4 style="font-size: 150%">*MODERATE DEPRESSION AND ANXIETY</h4>
    <ul>
        <li style="font-size: 130%">Psychodynamic therapy may be recommended to help explore underlying psychological issues that contribute to depression.</li>
        <li style="font-size: 130%">Interpersonal therapy may be recommended to help improve communication and relationship skills.</li>
        <li style="font-size: 130%">Light therapy may be recommended, particularly for individuals who experience seasonal affective disorder (SAD).</li>
        <li style="font-size: 130%">Holistic approaches, such as herbal remedies or aromatherapy, may be recommended in addition to traditional treatments.</li>
        <li style="font-size: 130%">Creating a routine and setting achievable goals can help improve motivation and sense of purpose.</li>
    </ul>
</div>
<div>
    <h4 style="font-size: 150%">*SEVERE DEPRESSION AND ANXIETY</h4>
    <ul>
        <li style="font-size: 130%">Intensive outpatient programs may be recommended as an alternative to inpatient treatment.</li>
        <li style="font-size: 130%">Alternative therapies, such as art therapy or equine therapy, may be recommended to supplement traditional treatments.</li>
        <li style="font-size: 130%">Combining different types of medication may be necessary to find the most effective treatment.</li>
        <li style="font-size: 130%">Psychoeducation, or learning more about depression and how it affects the brain and body, may be recommended to improve understanding and reduce stigma.</li>
        <li style="font-size: 130%">Developing a strong support network, including family, friends, and mental health professionals, can be critical to recovery.</li>
    </ul>
</div>
</body>
</html>